@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*-------------------
Common Styles
---------------------*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    Width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*---------------------- 
Header Section Styles
------------------- */
header{
    background-color: #2D25A0;
    height: 677px;
}
.top-menu, .live-section{
    display: flex;
    justify-content: center;
}
.menu-top-margin{
    margin-top: 42px;
}
nav a{
    color: #ffffff;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.home-no-padding{
    padding-left: 0;
}
.login a, .wacth-live a{
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 24px;
    background-color: #E02C6D;
}
.login a i{
    margin-right: 8px;
}

/* Live Section Styles */
.live-section{
    margin-top: 49px;
}
.wacth-live{
    margin-right: 102px;
}
.kick-football img{
    width: 556.01px;
    height: 438px;
}
.wacth-live h1{
    font-weight: 700;
    font-size: 64px;
    color: #ffffff;
    margin-bottom: 30px;
}
.wacth-live i{
    margin-left: 8px;
}